 .homepage {
   background-color: rgb(18, 18, 32);
   height: 100vh;
   width: 100vw;
   display: flex;
   flex-direction: column;
 }

.exploration {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 93vh;
}

.topbottomstack {
    display: flex;
    flex-direction: column;
    flex-grow: 1
}

.bottom_row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}